# Windows
Thumbs.db
Desktop.ini

.DS_Store

.vscode/

*.log
*.bak
*.tmp

*.pbix.tmp
*.pbit.tmp

AnalysisServicesWorkspaces/

~$*.xlsx
~$*.xlsm
~$*.xls

*.zip
*.rar
*.7z

*.csv

.env
config.json
credentials.json

*.swp
*.swo